body{
    background: salmon;
}
.ph{
    display: inline-block;
}
.php{
    display: inline-block;
}
.ima{
    height: 350px;
    width: 350px;
    margin: 2px;
    padding: 5px;
    border-radius: 10%;
}
.ima:hover{
    opacity: .80;
    background-color: #059b0f;
}